@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div id="top-bar">
        <span class="glyphicon glyphicon-home"></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Mail</a></li>
            <li><a href="#">Flickr</a></li>
            <li><a href="#">Tumblr</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Groups</a></li>
            <li class="dropdown"><a href="#">More</a></li><i class="fa fa-angle-down"></i>
        </ul>
    </div>
</div>
<div class="row main-nav">
    <div class="row search-nav">
        <a href="/"><img src="~/images/yahoo-finance-logo.png" id="main-logo"></img></a>
        <form action="/search" method="POST" class="search-form">
            <input type="text" placeholder="Search for news, sympbols or companies" id="stock-name" name="query"> <button class="button">Search</button>
        </form>
        <span class="glyphicon glyphicon-bell"></span>
        <span class="glyphicon glyphicon-envelope"></span>

    
        </div>
         @{
            if(ViewBag.UserId == null){
        <a href="/signin"><button >Signin</button></a>

            }
            else
            {
                <a href="/logout"><button >Logout</button></a> <br>

                <h4>Welcome @TempData["userName"]</h4>
            }
        }
      
    <div id="fin-links">
        <ul>
            <li><a href="/">Finance Home</a></li>
            <li><a href="#">Watchlists</a></li>
            <li><a href="/portfolio">My Portfolio</a></li>
            <div class="dropdown">
                <li><a href="#">My Screeners</a></li>
                <ul class="dropdown-menu">
                    <li class="drop-list"><a href="#">Saved Screens</a></li>
                    <li class="drop-list"><a href="#">Equity Screener</a></li>
                    <li class="drop-list"><a href="#">Mutual Fund Screener</a></li>
                    <li class="drop-list"><a href="#">ETF Screener</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Markets</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Industries</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Personal Finance</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Technology</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Originals</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Events</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </ul>
        
    </div>
    
</div>
<div class="mkt-overview">
    <h4>Today's Most Active Stocks</h4>
    <ul>
        @foreach(var stock in @ViewBag.MostActive)
        {
            double open = Convert.ToDouble(@stock["open"]);
            double latest = Convert.ToDouble(@stock["latestPrice"]);
            double activity = latest - open;
            <li>
                <p class="mkt-name"><a href="/stock/@stock["symbol"]">@stock["symbol"]</a></p>
                <p class="price">@stock["latestPrice"]</p>
                @if(activity >= 0)
                {
                    <p class="activity" style="color: green;">@activity.ToString("0.00")</p>
                }
                else
                {
                    <p class="activity" style="color: red;">@activity.ToString("0.00")</p>
                }
            </li>
        }
    </ul>
</div>
<hr>
<div class="market-news">
    <h4>Financial News</h4>
    <ul>
        @foreach(var story in @ViewBag.LatestNews)
        {
            <div class="story-container">
                <li>
                    <h5><a href="@story["url"]">@story["headline"]</a></h5>
                </li>
                <hr>
            </div>
        }
    </ul>
</div>



